[submodule "3rdparty/mongoose"]
	path = 3rdparty/mongoose
	url = https://github.com/cesanta/mongoose
        ignore = dirty
[submodule "3rdparty/Catch2"]
	path = 3rdparty/Catch2
	url = https://github.com/catchorg/Catch2.git
